/*
Single product.

@since 0.1.0
*/
@import "../settings";

body.single-product.woocommerce-page {

  #site-content {
    margin-top: $column-gutter;
  }

  .product_title {
    color: $body-font-color;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2em;
    font-family: $font-family-sans-serif;
  }

  .product-details-title {
    color: $body-font-color;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;
  }
}