/*
WP Gallery styles.

@since 0.1.0
*/

@import "../settings";
@import "../../vendor/sass/foundation/components/block-grid";

.gallery {
  .gallery-item {
    position: relative;

    .gallery-title {
      position: absolute;
      top: 0;
      left: $block-grid-default-spacing / 2;
      right: $block-grid-default-spacing / 2;
      background: $primary-color;
      color: $light-color;
      text-transform: uppercase;
      text-align: center;
      font-size: 1.4em;
      margin: 0;
    }

    .gallery-description {
        @media #{$small-only} {
          padding-left: 1em;
          padding-right: 1em;
        }
    }
  }
}