/*
The static site header.

@since 0.1.0
*/
@import "../settings";

#site-header {

  .top-nav {
    height: $header-height;
    line-height: $header-height;
    background: $primary-color;
    color: $light-color;

    * {
      height: inherit;
      line-height: inherit;
      color: inherit;
      text-transform: uppercase;
      font-size: inherit;
    }

    .left {
      @media #{$small-only} {
        float: none !important;
        padding-left: 0.5em;
        padding-right: 0.5em;
      }
    }

    .fa-bars {
      float: left;
      margin-right: 0.5em;
    }

    .textwidget {
      float: right;
      height: auto;

      [class*="social-icon-"] {
        width: 1em;
      }
    }

    .fa {
      font-size: 1.4em;
    }

    .top-nav {
      float: left;

      .top-nav-item {
        display: inline-block;
        margin-right: 1em;
      }
    }

    .search-form {
      float: left;
      margin-right: 1em;

      input[type="search"] {
        height: $header-height - 10px;
        line-height: $header-height - 10px;
        margin-top: 5px;
        padding-top: 0;
        padding-bottom: 0;
      }

      .fa-search {
        color: $medium-color;
      }
    }
  }

  .site-logo {
    margin: $column-gutter 0;

    > .container {
      display: inline-block;
    }

    .site-title {
      border-bottom: 1px solid $primary-color;
      margin: 0;
    }

    .site-description {
      position: relative;
      display: inline-block;
      margin: 0;
      text-transform: uppercase;
      background: $body-bg;
      color: $primary-color;
      font-size: 0.7em;
      top: -1.1em;

      @media #{$medium-up} {
        top: -1em;
        font-size: 0.9em;
      }
    }
  }

  .site-nav {
    background: $secondary-color;

    .menu-item {
      float: left;
      text-align: center;
      font-size: 1.2em;
      text-transform: uppercase;
      color: $light-color;
      font-weight: bold;
      white-space: nowrap;

      &.current-menu-item {
        color: $primary-color;
        text-decoration: underline;
      }

      a {
        color: inherit;

        &:hover {
          color: $primary-color;
          text-decoration: underline;
        }
      }
    }
  }
}